html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
  font-family: "Popins", sans-serif;
}
input {
  line-height: normal;
  font-family: "Popins", sans-serif;
}
label,
button {
  cursor: pointer;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
